@import "../../utilities";

.skills_page {
  background-color: $primary;
  min-height: 100vh;

  &_header {
    @include display-flex(column, center, center);

    background-color: $grey_4;
    height: 20rem;

    &_title {
      font-family: $font-decorative;
      font-size: 1.5rem;
      font-weight: 400;
      color: $secondary;

      @include md {
        font-size: 2rem;
      }

      &_icon {
        @include img-shape(1.5rem, 1.5rem);
        margin-left: 1rem;
      }
    }

    &_desc {
      @include display-flex(column, center, center, center);
      margin-top: 2rem;
      color: $light-grey;
      font-size: 0.7rem;

      p {
        margin-bottom: 0.4rem;
        padding: 0 0.5rem;
        line-height: 1.2rem;
      }

      @include xs {
        @include display-flex(row, normal, center, false);
        font-size: 1rem;
        p {
          margin-bottom: 0;
          padding: 0;
        }
      }
    }
  }

  &_grid {
    @include light-container();
    width: 100%;
    margin: 3rem auto;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include s {
      width: 90%;
      padding: 3rem 2rem;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
