@import "../../utilities";

.msg_container {
  padding: 10rem 0;
  &_msg {
    @include display-flex(row, center, center, center);
    padding: 1rem;
    margin: 3rem 0;
    color: $light-grey;
    font-size: 1rem;

    @include md {
      font-size: 1.4rem;
    }

    &_icon {
      width: 3rem;
      height: auto;
      margin-right: 1rem;
    }
  }
}
